/*GLOBAL Rules*/
body {
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}

/*HEADER*/
.title{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: 'Notable', sans-serif;
  font-size: 50px;
}

/* .sidebarCol{
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding: 0px;
  margin: 0px;
} */

/**SIDEBAR**/
/* sidebar{
  height: 100vh !important;
  width: 20vh !important;
} */

.bm-item-list{
  background: black;
}
.iconButton{
  border-style: none;
  background-color: transparent;
  text-align: left;
  outline: none;
  /* z-index: 10; */
}
.bm-burger-button{
  width: 10em;
  height: 10em;
  border-style: none;
  background-color: transparent;
  outline: none;
}

.bm-item:hover{
  text-decoration: none;
}

.bm-item:focus{
  border-color: none;
  outline: none;
  text-decoration: none;

}

/* .iconButton:focus {
  outline: none;
}

.iconButton:hover {
  animation: shake 2s; 
  /* animation-iteration-count: infinite;  */


@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-6px, -8px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(3px, -1px) rotate(-1deg); }
}
 
/* .navMenu{
  margin: 10px;
} */
.navLink{
  color: white;
  font-family: 'Notable', sans-serif;
  margin: 10px;
}
/*SIDEBAR*/
/* #flyoutMenu {
  width: 20vw;
  height: 100vh;
  background-color: black;
  box-shadow: 9px 6px 15px -2px rgba(87,87,87,1);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
 
#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu a {
  color: white;
  padding-top: 30%;
  margin-left: 30%;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
} */

/*ITEM DISPLAY*/
.itemContainer{
  margin: 0 auto;
}
/* 
.itemRow{
  display: flex;
  justify-content: center;
  align-items: center;
} */