/*GLOBAL Rules*/
body {
  overflow: auto;
  font-family: "Roboto", sans-serif;
}

/*HEADER*/
.title {
  position: relative;
  left: 12%;
  font-family: "Notable", sans-serif;
  font-size: 50px;
}

/*SIDEBAR*/
.bm-item-list {
  background: black;
}
/* .iconButton {
  border-style: none;
  background-color: transparent;
  text-align: left;
  outline: none;
  /* z-index: 10; */
/* } */
.bm-burger-button {
  width: 10em;
  height: 10em;
  border-style: none;
  background-color: transparent;
  outline: none;
}

.bm-burger-button :focus {
  outline: none;
}

/* menu wont open when icon is animated */
/* .bm-burger-button :hover {
  animation: shake 2s !important;
  animation-iteration-count: infinite;
} */

/* make it so the whole screen isn't clickable */
.bm-burger-button button {
  width: 15% !important;
  height: 25% !important;
}

.bm-item:hover {
  text-decoration: none;
}

.bm-item:focus {
  border-color: none;
  outline: none;
  text-decoration: none;
}

img.bm-icon:focus {
  outline: none;
}

/* @keyframes shake {
  0% {
    transform: translate(5px, 5px) rotate(0deg);
  }
  10% {
    transform: translate(-6px, -8px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(3px, -1px) rotate(-1deg);
  }
} */

.navLink {
  color: white;
  font-family: "Notable", sans-serif;
  margin: 10px;
}
.navLink:hover {
  text-decoration: none;
  color: gray;
}

/*ITEM DISPLAY*/
.itemContainer {
  margin: 0 auto;
}

form {
  /* text-align: center; */
  width: 50%;
  margin: 0 auto;
}
